# Browsers that we support
# https://github.com/ai/browserslist

###############
## SUPPORTED ##
###############

## DESKTOP

# Google Chrome
Chrome >= 56

# Mozilla Firefox
Firefox >= 51

# Microsoft Edge
Edge >= 16

# Opera
Opera >= 43

# Desktop Safari
Safari >= 10.1

## MOBILE

# iOS Safari
iOS >= 10.3

# Chrome for Android
ChromeAndroid >= 64

# Firefox for Android
FirefoxAndroid >= 57

###################
## NOT SUPPORTED ##
###################

# Internet Explorer
# Explorer >= 11

# Blackberry browser
# BlackBerry >= 10

# Samsung Internet
# Samsung >= 4

# Baidu
# Baidu >= 7.12

# QQAndroid
# QQAndroid >= 1.2

# Opera Mobile
# OperaMobile >= 12.1

# Opera Mini
# OperaMini all

# UC Browser for Android
# UCAndroid >= 11.4

# Internet Explorer Mobile
# ExplorerMobile >= 11

# Android WebView
# Android >= 4.4.4
