.game-list-title {
  margin: 20px 0;
}

.game-list-short-description {
  font-size: $font-size-small;
  font-style: italic;
  margin: 4px 0 8px 14px;
}

.empty-value {
  height: 28px;
}

.all-games-visibility-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $breakpoint-phone) {
  .all-games-visibility-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .choose-tag-instruction {
    display: none;
  }
}

.revolving-door-instruction {
  margin: 10px 0 0 14px;
}

.all-games-toggle-visibility button {
  margin: 10px 10px 0 0;
}

.tags-dropdown {
  margin: 10px 0 0 0;
}
