.title {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  font-weight: 700;
  justify-content: space-between;
  margin: 0 0 20px;
  margin: 20px 0;
}

.game-list-short-description {
  font-style: italic;
  margin: 4px 0 8px 0;
}
