#main {
  background-color: #fff;
  border: solid 1px #e3e7eb;
  margin: 20px 0 0 0;
  padding: 30px;
}

@media (max-width: $breakpoint-phone) {
  #main {
    border: solid 1px #fff;
    margin: 0 0 10px 0;
    padding: 0 10px;
  }
}
