.game-details-row {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  padding: 0 0 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.game-details-row-with-subtext {
  padding: 0 0 4px;
}

.game-details-subtext {
  font-size: $font-size-small;
}

.game-details-title {
  font-weight: 600;
  padding: 0 10px 0 0;
  margin: 0;
}

.game-details-two-columns {
  width: 25%;
}

.game-details-value {
  width: 75%;
}

@media (max-width: $breakpoint-phone) {
  .game-details-two-columns {
    width: 40%;
  }

  .game-details-value {
    width: 60%;
  }
}

.game-details-list {
  padding-left: 30px;
}

.game-details-row-with-gap {
  padding: 0 0 20px;
}

.game-details-text-indent {
  margin: 0 0 0 14px;
}
