header {
  padding: 0 0 20px;
}

.logo {
  color: $text-color;
  text-decoration: none;
}

.header-bar {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-between;
}

.logged-user-details {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}

.logged-user-details > span {
  padding: 6px 0 0 0;
}
