.routes {
  background-color: $background-gray;
  border-bottom: 1px solid $border-gray;
}

.router-link {
  position: relative;
  display: inline-block;
  padding: 10px 16px 10px 16px;
  font-size: $link-font-size;
  text-decoration: none;
  color: $text-color;
}

.router-link:hover,
.router-link:focus {
  background-color: $background-hover;
}

.router-link.active {
  border: none;
}

.router-link.active::after {
  background-color: $text-color;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
}
