.drop-rows {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
}

.available-games-row {
  margin: 0 10px 0 0;
  width: 50%;
}

.selected-games-row {
  width: 50%;
}

.drop-row {
  background-color: $background-highlight;
  min-height: 40px;
  padding: 10px;
}

.drop-row.dragging {
  background-color: $background-dnd-row;
}

.drop-row.availableGames,
.drop-row.selectedGames {
  min-height: 500px;
}

.drop-row a {
  color: $main-text;
  text-decoration: none;
}

.draggable-item {
  background-color: $background-dnd-item;
  border: 1px solid $border-inactive;
  margin: 8px 0;
  padding: 8px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  border-radius: 3px;
  cursor: pointer;
}

.draggable-item:hover,
.draggable-item:focus {
  background-color: $background-hover;
}

.signup-list {
  margin: 0;
}

.drop-row.dragging .draggable-item {
  cursor: grabbing;
}

.signup-game-title {
  margin: 0 0 4px 0;
}

.signup-short-description {
  margin: 0 0 0 14px;
  font-size: $font-size-small;
  font-style: italic;
}

@media (max-width: $breakpoint-phone) {
  .signup-short-description {
    margin: 0;
  }
}

.signup-popularity {
  font-size: $font-size-small;
  margin-bottom: 0;
}

.high-popularity {
  background-color: #ffe8e8;
}

.medium-popularity {
  background-color: #fff;
}

.low-popularity {
  background-color: #f0ffff;
}
