.drop-rows {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
}

.games-row {
  margin: 0 10px 0 0;
  width: 50%;
}

.priority-row {
  width: 50%;
}

.drop-row {
  background-color: $background-gray;
  min-height: 40px;
  padding: 10px;
}

.drop-row.dragging {
  background-color: $dragging-background;
}

.draggable-item {
  background-color: $draggable-background;
  border: 1px solid $border-gray;
  margin: 8px 0;
  padding: 8px;
}

.signup-list {
  margin: 0;
}
