@import './variables';
@import './theme.css';

#main {
  background-color: #fff;
  border: solid 1px #e3e7eb;
  margin: 20px 0 0 0;
  padding: 30px;
}

@media (max-width: $breakpoint-phone) {
  #main {
    border: solid 1px #fff;
    margin: 0 0 10px 0;
    padding: 0 10px;
  }
}

a:hover,
a:focus {
  cursor: pointer;
}

header {
  padding: 0 0 20px;
}

footer {
  margin: 64px auto;
  max-width: 800px;
  padding: 32px;
  text-align: center;
  width: 100%;
}

footer p {
  line-height: 16px;
  margin: 0 0 16px;
}

.active {
  background-color: $selected-button;
  border: 1px solid $border-green;
}

.error {
  color: $error-red;
}

.exception {
  color: $error-red;
}

.success {
  color: $success-green;
}

.title {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  font-weight: 700;
  justify-content: space-between;
  margin: 0 0 20px;
  margin: 20px 0;
}

.form-row {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  width: 50%;
  justify-content: flex-start;
}

@media (max-width: $breakpoint-phone) {
  .form-row {
    width: 100%;
  }
}

.form-field {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  padding: 8px 0;
  width: 80%;
}

.form-field-icon {
  padding: 0 0 0 8px;
  font-size: $icon-size;
}

.form-field-error {
  display: flex;
  background-color: $background-gray;
  color: $error-red;
  width: 50%;
}

@media (max-width: $breakpoint-phone) {
  .form-field-error {
    width: 100%;
  }
}

.form-field-error-message {
  padding: 4px 0 4px 10px;
}

.form-input {
  border: 1px solid $border-gray;
  color: $font-gray;
  height: 34px;
  padding: 0 0 0 10px;
  width: 100%;
}

.form-input.checkbox {
  margin-right: 10px;
}

.router-link {
  display: inline-block;
  padding: 4px;
  font-size: $link-font-size;
}

.username {
  padding: 0 0 0 10px;
}

input {
  border-radius: 6px;
  box-sizing: border-box;
}

input::placeholder {
  color: $placeholder-font-gray;
}

input:focus {
  border: 1px solid #4d90fe;
  box-shadow: 0 0 5px 0 #4d90fe;
  box-sizing: border-box;
}

.game-details-title {
  font-weight: 600;
  padding: 0 10px 0 0;
}

.game-details-row {
  padding: 0 0 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.checkbox {
  width: 16px;
}

.signup-list {
  margin: 0;
}

.feedback-textarea {
  margin: 20px 0 0;
  width: 100%;
}

.logo {
  color: $text-color;
  text-decoration: none;
}

.drop-rows {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
}

.games-row {
  margin: 0 10px 0 0;
  width: 50%;
}

.priority-row {
  width: 50%;
}

.drop-row {
  background-color: $background-gray;
  min-height: 40px;
  padding: 10px;
}

.drop-row.dragging {
  background-color: $dragging-background;
}

.draggable-item {
  background-color: $draggable-background;
  border: 1px solid $border-gray;
  margin: 8px 0;
  padding: 8px;
}

.accordian-icon {
  margin: 0 10px 0 0;
}

.result-player-list {
  padding-left: 30px;
}

.game-result {
  border-bottom: solid 1px $disabled-gray;
  padding-bottom: 10px;
}

.flex-table-container {
  margin-top: 10px;
}

.flex-table-column {
  border-bottom: solid 1px $disabled-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
}

.flex-table-row {
  width: 33%;
  word-break: break-word;
}

.flex-table-header {
  font-weight: 700;
  padding-bottom: 20px;
}

.my-signups-games,
.my-favorites-games,
.my-entered-games {
  padding-left: 30px;
}

.game-details-list {
  padding-left: 30px;
}
