@import "./variables";

#main {
  display: flex;
}

html {
  color: #030303;
  font: caption;
  padding-bottom: 32px;
}

a {
  color: #1f4ba0;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

header {
  padding: 0 0 20px 0;
}

footer {
  margin: 64px auto;
  padding: 32px;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

footer p {
  line-height: 16px;
  margin: 0 0 16px 0;
}

label {
  margin: 0 10px 0 0;
}

ul {
  margin: 10px 0 0 0;
}

button {
  margin: 10px 10px 10px 0;
  padding: 6px 20px 6px 20px;
  background-color: #ffffff;
  border: 1px solid $borderGray;
  border-radius: 5px;
  color: $fontGray;
}

button:hover {
  background-color: $backgroundGreen;
  border: 1px solid $borderGreen;
  color: $borderGreen;
}

.error {
  color: $errorRed;
}

.main-container {
  margin: 10px 10px 10px 10px;
}

.title {
  margin: 0 0 20px 0;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-between;
}

.form-row {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column;
  justify-content: space-between;
}

.form-field {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 8px 0;
}

.router-link {
  padding: 4px;
  display: inline-block;
}

.username {
  padding: 0 0 0 10px;
}

.form-field-error {
  background-color: $backgroundGray;
  color: $errorRed;
  font-size: 12px;
  padding: 4px 10px 4px 10px;
}

.error {
  color: $errorRed;
}

.page-title {
  font-weight: 700;
}

input {
  box-sizing: border-box;
  border-radius: 6px;
}

input::placeholder {
  color: $placeholderFontGray;
}

input:focus {
  box-sizing: border-box;
  outline-style: none;
  border: 1px solid #4d90fe;
  box-shadow: 0 0 5px 0 #4d90fe;
}

.form-input {
  border: 1px solid $borderGray;
  height: 30px;
  padding: 0 0 0 10px;
  color: $fontGray;
  width: 100%;
}

.title {
  margin: 20px 0 20px 0;
  font-weight: 700;
}

.games-list {
  padding: 0 0 0 20px;
}

.game-details-title {
  font-weight: 600;
  padding: 0 10px 0 0;
}

.game-details-row {
  padding: 0 0 10px 0;
  white-space: pre-wrap;
}
