.flex-table-container {
  margin-top: 10px;
}

.flex-table-column {
  border-bottom: solid 1px $disabled;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.flex-table-row {
  width: 33%;
  word-break: break-word;
  padding: 0 20px 0 0;
}

.flex-table-header {
  font-weight: 700;
  padding-bottom: 20px;
}
