// Color definitions
$errorRed: #c00000;
$backgroundGreen: #ebf1de;
$borderGreen: #77933c;
$borderGray: #969696;
$backgroundGray: #f2f2f2;
$fontGray: #7f7f7f;
$placeholderFontGray: #b3b3b3;
$disabledGray: #dad8d8;
