$error-red: #c00000;
$background-green: #ebf1de;
$border-green: #77933c;
$border-gray: #969696;
$background-gray: #f2f2f2;
$font-gray: #7f7f7f;
$placeholder-font-gray: #b3b3b3;
$disabled-gray: #dad8d8;
$text-color: #030303;
$success-green: #3c763d;
$dragging-background: #add8e6;
$draggable-background: #ccc;
$selected-button: #f2f2f2;
$background-hover: #ccc;

$breakpoint-phone: 500px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$font-size: 16px;
$icon-size: 20px;
$button-font-size: 14px;
$link-font-size: 18px;
