$background-active: #ebf1de;
$background-dnd-item: #fff;
$background-dnd-row: #add8e6;
$background-hover: #d9d9d9;
$background-highlight: #f2f2f2;
$border-active: #77933c;
$border-inactive: #969696;
$button-selected: #f2f2f2;
$button-text: #7f7f7f;
$input-placeholder: #b3b3b3;
$main-text: #030303;

$success: #3c763d;
$disabled: #dad8d8;
$error: #c00000;
$informative: $main-text;
$warning: #f00;

$breakpoint-phone: 500px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$font-size-big: 20px;
$font-size-normal: 16px;
$font-size-small: 14px;

$icon-size: 20px;
$button-font-size: 14px;
$link-font-size: 18px;
